@import url(href='//fonts.googleapis.com/css?family=Rubik');

.text {
  text-align: center;
  color: black;
  font-family: 'Rubik'; font-size: 34px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: darkblue;
  font-family: 'Rubik';
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightblue;
}

a:hover {
     color:#1a3300; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
  background-image: url("hills4.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}